<div class="input-group">
    <label for="{{ id }}">{{ label }}</label>

    {{#if editable}}
        <input class="editable-field"
               type='{{#if inputType}}{{inputType}}{{else}}text{{/if}}'
               id="{{ id }}"
               name="{{ id }}">
    {{else}}
        <input type='{{#if inputType}}{{inputType}}{{else}}text{{/if}}'
               id="{{ id }}"
               name="{{ id }}">
    {{/if}}
</div>

<style>
    label {
        font-size: 12px;
        display: block;
        opacity: 0.5;
    }

    input {
        border: none;
        outline: none;
        border-bottom: 1.5px solid #000000;

        display: block;
    }

    .editable-field {
        background-image: url('/pencil.svg');
        background-repeat: no-repeat;
        background-position: right;
    }
</style>
